<div class="formWrapper">
  <mat-card-title>Add Match</mat-card-title>

  <button
    type="button"
    class="addSetBtn"
    mat-icon-button
    (click)="addSetPoints()"
  >
    <mat-icon>add_circle_outline</mat-icon>
    <span>Add Set</span>
  </button>

  <mat-error class="exceededMaximumSets" *ngIf="exceededMaximumSets"
    >Minimum number of sets is 3.</mat-error
  >

  <form [formGroup]="matchForm" (ngSubmit)="onSubmit()" novalidate>
    <!--PLAYER 1-->
    <div class="playerWrapper">
      <mat-form-field
        class="playerField"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>Player 1</mat-label>
        <mat-select formControlName="player1Name" required>
          <mat-option *ngFor="let player of availablePlayers1" [value]="player.name">
            {{ player.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="f.player1Name.touched && f.player1Name.errors"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <!--PLAYER 1 POINTS-->
      <div class="sets" formArrayName="points1">
        <div *ngFor="let point of points1.controls; let i = index" [formGroupName]="i">
          <mat-form-field
            class="pointInput"
            appearance="outline"
            floatLabel="always"
          >
            <mat-label>{{ i + 1 }}</mat-label>
            <input matInput formControlName="set" type="number" required />
            <mat-error
              *ngIf="f.points1.touched && f.points1.errors"
            ></mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!--PLAYER 2-->
    <div class="playerWrapper">
      <mat-form-field
        class="playerField"
        appearance="outline"
        floatLabel="always"
      >
        <mat-label>Player 2</mat-label>
        <mat-select formControlName="player2Name" required>
          <mat-option *ngFor="let player of availablePlayers2" [value]="player.name">
            {{ player.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="f.player2Name.touched && f.player2Name.errors"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <!--PLAYER 2 POINTS-->
      <div class="sets" formArrayName="points2">
        <div *ngFor="let point of points2.controls; let i = index" [formGroupName]="i">
          <mat-form-field
            class="pointInput"
            appearance="outline"
            floatLabel="always"
          >
            <mat-label>{{ i + 1 }}</mat-label>
            <input matInput formControlName="set" type="number" required />
            <mat-error
              *ngIf="f.points2.touched && f.points2.errors"
            ></mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <button
      mat-raised-button
      color="accent"
      [disabled]="matchForm.touched && !matchForm.valid"
    >
      Submit
    </button>
  </form>
</div>
