button {
  all:unset;
  cursor: pointer;
}

.winner {
  color: rgb(37, 179, 122);
  font-weight:bold;
}

.deleteBtn {
  margin-left:3rem;
  color: rgb(148, 51, 51);
}

.mat-spinner {
  margin:2rem auto;
}