html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #3e3c3e;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}
